// APPLICATION MANIFEST
@import 'jetpack/presets';
@import 'jetpack';
@import "jetpack/defaults";

// Layout
body { background: $white; }
.outer-wrapper { margin:0 auto; width: 80%; max-width: 960px; min-width: 320px; }
nav.main {
  position: fixed; width: 15%; margin-right: 5%; top: 18px;
  @include respond-to(mobile) { position: static; display: block; width: 100%; margin: 0; }
  li { margin-bottom: 0; }
}
section.main {
  margin-left: 20%; width: 80%;
  @include respond-to(mobile) { margin:0; width: 100%; }
}

nav.main {
  .title {
    height: $baseline;
    a { display: inline-block; vertical-align: 1px; }
    .arrow {
      display: inline-block;
      vertical-align: 0;
      margin-left: 6px; font-size: $baseline*2;
      font-weight: 300; color: lighten($color1,20%);
    }
  }
  ul { list-style: none; margin: 0; padding: 0; }
  li { font-weight: 300; }
  a { text-decoration: none; color: $dark2;
    &:hover { text-decoration: underline; }
    &.current { font-weight: 700; }
  }
}

header.site-title {
  margin-top: $baseline +2px;
  h1 { line-height: 1; margin:0; }
  h2 { font-weight: 300; margin:0; line-height: 1; }
}

header.page-title {
  @include gutter(bottom, 4px double $light1);
  h1 small { margin-left: 4px; font-size: 18px; text-transform: lowercase; font-weight: 300; color: $light2; }
  p { margin-bottom: 0; }
}

// General Purpose
div.sample {
  @include clearfix;
  @include gutter(bottom, 1px solid $light1);
  div.label {
    @include fluid-grid(1,5);
    font-weight: 300;
  }
  div.content {
    @include fluid-grid(4,5);
    :first-child {margin-top: 0;}
  }
  p.note { font-weight: 300; font-style: italic; }
}

table.examples {
  width: 100%;
  th { text-align: left; font-weight: 300; text-transform: uppercase; }
  tr { border-bottom: 1px solid $light1; }
  th, td { padding: $baseline/2 0; }
  tr > th { width: 20%; }
  td:first-child { width: 65%; }
  span.title { display: block; font-weight: 700; }
}

// PAGES

// HOME
body.pages.home {
  h4 {
    font-weight: 300;
  }
}

// PRESETS
body.pages.presets {
  div.row { @include clearfix; margin-bottom: $baseline/2; }
  div.color { @include fluid-grid(1,3); }
  div.tile {
    height: 84px; padding: 4px 8px;
    font-family: $mono; font-size: $base_size - 3px;
    &.color1 { background: $color1; }
    &.color2 { background: $color2; color: $white; }
    &.alt1 { background: $alt1; }
    &.alt2 { background: $alt2; color: $white; }
    &.light1 { background: $light1; }
    &.light2 { background: $light2; }
    &.dark1 { background: $dark1; color: $white; }
    &.dark2 { background: $dark2; color: $white; }
    &.success1 { background: $success1; }
    &.success2 { background: $success2; }
    &.notice1 { background: $notice1; }
    &.notice2 { background: $notice2; }
    &.error1 { background: $error1; }
    &.error2 { background: $error2; color: $white; }
    &.white { background: $white; }
    &.black { background: $black;  color: $white; }
  }
}

// CORE
body.pages.core {
}

// TYPOGRAPHY
body.pages.typography {
}

// FORMS
body.pages.forms {
  form.standard { @include form-style-horizontal-responsive; }
}

// FRACTIONALIZE
body.pages.fractionalize {
  .column {
    background: $light1; @include border-radius(2px); height: 20px; margin-bottom: 5px;
    line-height: 20px; text-align: center;
  }
  .one-one   { @include fluid-grid(1, 1); }
  .one-two   { @include fluid-grid(1, 2); }
  .one-three { @include fluid-grid(1, 3); }
  .one-four  { @include fluid-grid(1, 4); }
  .one-five  { @include fluid-grid(1, 5); }
  .one-six   { @include fluid-grid(1, 6); }
  .one-eight { @include fluid-grid(1, 8); }
  .one-ten   { @include fluid-grid(1,10); }
}

// TABLES
body.pages.tables {
  table.simple { @include table-style-simple; }
  table.shaded { @include table-style-shaded; }
  table.shaded-blue { @include table-style-shaded(lighten($color1,15%)); }
  table.shaded-yellow { @include table-style-shaded(lighten($alt1,10%)); }
  table.striped { @include table-style-striped; }
  table.striped-blue { @include table-style-striped(lighten($color1,15%)); }
  table.striped-yellow { @include table-style-striped(lighten($alt1,10%)); }
}

// NAVIGATION
body.pages.navigation {
  div.tab-wrapper { @include tab-style-simple; }
  div.pill-wrapper { @include pill-style-simple; }
  nav.pagination.simple { @include pagination-style-simple; }
  nav.pagination.kaminari { @include pagination-style-kaminari; }
}

// INTERFACE
body.pages.interface {
  table.buttons {
    td.default a.example { @include button; }
    td.color1 a.example { @include button($color1,$white); }
    td.alt1 a.example { @include button($alt1,$white); }
    td.error1 a.example { @include button($error2,$white); }
  }
  .message {
    @include message;
    &.success { @include message($success1,darken($success2,20%)); }
    &.notice { @include message($notice1,darken($notice2,25%)); }
    &.error { @include message($error1,darken($error2,10%)); }
  }
}

// JAVASCRIPT
body.pages.javascript {
  .example {
    .controls { @include fluid-grid(1,5); }
    .viewport { @include fluid-grid(4,5); }
  }
}

// DEMOS
body.demos.fluid_grid {
  .wrapper { @include fluid-container; }
  .row { @include clearfix; }
  .column {
    background: $light1; @include border-radius(2px); height: 20px; margin-bottom: 5px;
    line-height: 20px; text-align: center;
  }
  .one-one   { @include fluid-grid(1, 1); }
  .one-two   { @include fluid-grid(1, 2); }
  .one-three { @include fluid-grid(1, 3); }
  .one-four  { @include fluid-grid(1, 4); }
  .one-five  { @include fluid-grid(1, 5); }
  .one-six   { @include fluid-grid(1, 6); }
  .one-eight { @include fluid-grid(1, 8); }
  .one-ten   { @include fluid-grid(1,10); }

  .two-five  { @include fluid-grid(2,5); }

  .prepend-two-thirds { @include fluid-grid(2,3); @include fluid-prepend(1,3); }
  .append-two-thirds  { @include fluid-grid(2,3); @include fluid-append(1,3);}

  .prepend-one-fifth { @include fluid-grid(2,5); @include fluid-prepend(1,5); }
  .append-one-fifth  { @include fluid-grid(3,5); @include fluid-append(1,5);}
}
